.header {
	font-size: 25pt; 
	padding-left: 20px; 
	padding-top: 10px; 
	font-weight: bold; 
	color: rgb(55, 55, 155);

}
.location {

	padding-right: 10px; 
	padding-bottom: 5px; 
	font-size: 11pt;
	text-align: right;

}

.table-main td {

	border: 2px solid black; 
	border-bottom: 0px

}

.table-body td {
	border: 0;
}

.body {

	border: 1px dotted gray;
	position: relative;
	height: 100%;
}

.filter {
	margin-top: 20px;
	text-align: center;
	margin-left: 200px;
}

.item-content {

	margin: 20px; 
	margin-top: 10px

}

.row {
	float: left; 
	margin-left: 20px;
}

.row-tool {

	margin-right: 0px;
    float: right;
    margin-left: 20px;
}

.multiselect {
	float: left;
	margin-left: 20px;
    width: 150px;
}

.selectBox {
	position: relative;
}
.selectBox select {
    width: 100%;
    font-weight: bold;
}

.overSelect {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
}

.paginator {

	bottom:0; 
	background-color: rgb(242, 242, 242);
	width: 870px; 
	margin: 5px;
	height: 70px;
	position: absolute;
}

#checkboxes {
    display: none;
    position: absolute;
    z-index: 100;
    border: 1px #dadada solid;
     background-color: #ffffff;
       width: 150px;

}

#checkboxes label {
    display: block;
}

#checkboxes label:hover {
    background-color: #1e90ff;
}