.header {
	font-size: 25pt; 
	padding-left: 20px; 
	padding-top: 10px; 
	font-weight: bold; 
	color: rgb(55, 55, 155);

}
.location {

	padding-right: 10px; 
	padding-bottom: 5px; 
	font-size: 11pt;
	text-align: right;

}

.table-main td {

	border: 2px solid black; 
	border-bottom: 0px

}

.table-body td {
	border: 0;
}

.body {

	border: 1px dotted gray; 
	margin: 10px; 
	height: 100%;
	position: relative;
}

.filter {
	margin-top: 20px;
	text-align: center;
	margin-left: 60px;
}

.item-content {

	margin: 20px; 
	margin-top: 10px

}

.row {
	float: left; 
	margin-left: 20px;
}

.row-tool {

	margin-right: 0px;
    float: right;
    margin-left: 20px;
}

.menu {

	background-color: gray;
	padding-left: 15px;
	padding-bottom: 10px;

}

.menu-content {
  background-color: white;
  width: 170px;
}

.multiselect {
	float: left;
	margin-left: 20px;
    width: 150px;

}

.selectBox {
	position: relative;
}
.selectBox select {
    width: 100%;
    font-weight: bold;
}

.overSelect {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
}

#checkboxes {
    display: none;
    position: absolute;
    z-index: 100;
    border: 1px #dadada solid;
     background-color: #ffffff;
       width: 150px;

}

#checkboxes label {
    display: block;
}

#checkboxes label:hover {
    background-color: #1e90ff;
}

#title {

	width: 450px;

}

.input-l{
	  width: 250px;
      border-radius: 4px;
      padding-left: 10px;
      margin-left: 30px;
}

.edit {
	text-decoration: underline;
	color: blue;
}

.update{
	text-decoration: underline;
	color: blue;
}

.save {

	text-decoration: underline;
	color: blue;

}

.delete {
	text-decoration: underline;
    color: blue;
    display: none;
    margin-left: 15px;
}

.filter-tool {

	  margin-top: 30px;
}

.error {

	color: red;
	display: none;
}

.submit {
	  width: 70px;
	background-color: white;
	border: 0;
	color: blue;
	text-decoration: underline;

}

.login-form {
	padding: 300px;
}