/*The page of news list*/

* {
	font-family: Verdana, sans-serif;
}


header {
	border: 2px solid #000;
	width: 900px; /*!*/
	margin: 0 auto;
	margin-top: 10px;
	border-bottom: none;
}

footer {
	text-align: center;
	font-weight: bold;
	border: 2px solid #000;
	border-top: none;
	width: 900px;  /*!*/
	margin: 0 auto;
}

.label h1 {
	margin-top: 15px;
	margin-bottom: 15px;
}

.label {
	width: 420px; /*!*/
	display: inline-block; /*!*/
	color: #37379B;
	padding-left: 30px;/*!*/
}

.lang {
	text-align: right;
	padding-right: 10px;
	padding-bottom: 10px;
	font-size: 11pt; 
}

.main {
	border: 2px solid #000;
	width: 900px;  /*!*/
	margin: 0 auto;
	min-height: 700px;
}

/* NEW */
.main>div:not(.container-login), .main>nav{
	display: inline-block;
}

.menu {
	width: 220px;
	vertical-align: top;
	border-top: 1px dotted #000;
	margin-top: 10px;
	background: #818181;
	font-size: 11pt;
}

.menu>ul{
	width: 60%;
	margin: 0 auto;
	margin-bottom: 20px;
	background: #fff;
	padding-top: 5px;
	padding-bottom: 5px;
}

.container {
	width: 660px;
	position: relative;
	border: 1px dotted #000;
	margin: 10px 0px 0px 0px;
	min-height: 680px;
}

.container-login {
	position: relative;
    border: 1px dotted #000;
    margin: 10px 10px 10px 10px;
    min-height: 680px;
}

.logout{
	display: inline-block;
	width: 440px;
	text-align: right;
}

.logout span {
	
 	font-weight: bold;
}

.form-add-news, .form-add-author {
	width: 90%;
	margin: 0 auto;
	margin-top: 30px;
}

.form-add-news tbody{
	font-size: 11pt;
}

.form-add-news tr>td {
	vertical-align: top;
	padding-top: 6px;
}

.form-add-news tr:not(:last-child)>td:first-child{
	text-align: right;
}

.form-add-news tr:not(:last-child)>td:last-child{
	padding-left: 10px;
	text-align: left;
}

.form-add-news tr:last-child>td{
	padding-top: 20px;
}

.form-add-author tr>td:first-child{
	padding-right: 10px;
}

.form-add-author form {
	display: inline-block;
	font-size: 11pt;
}

.form-add-author tr td {
	padding-top: 20px;
}

.form-add-author tr td:first-child {
	text-align: right;
	  vertical-align: top;
}

.form-add-author tr:last-child td{
	padding-top: 40px;
}

.btn-spec{
	display: none;
	border: none;
	background: #fff;
	color: #126CAD;
	text-decoration: underline;
}

.btn-spec-active{
	display: inherit;
}
.del-news {
	width: 90%;
	margin: 0 auto;
	margin-top: 40px;
	text-align: right;
}


/**/

.login-form {
	text-align: center;
	width: 40%;
	margin: 0 auto;
    margin-top: 200px;
}

.content {
	margin-bottom: 100px;	
}

.filter {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.news-item {
	width: 90%;
	margin: 0 auto;
	font-size: 0;
	padding-top: 30px; 
}

.news-item div {
	font-size: 10pt;
}

.title, .date, .author {
	display: inline-block;
}
.author{
	width: 10%;
	vertical-align: top;
}

.title{
	font-weight: bold;
	width: 70%;
}

.date {
	text-decoration: underline;
	text-align: right;
	width: 20%;
	vertical-align: top;
}
.desc {
	width: 80%;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: justify;
}

.tools>div {
	display: inline-block;
	margin-left: 20px;
}

.tools {
	text-align: right;
}

.tool-tag {
	color: #A1A1A1;
}

.tool-comment {
	color: #F00;
}

.paginator>div {
	display: inline-block;
}

.paginator {
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	background: #F2F2F2;
	padding-top: 25px;
	padding-bottom: 25px;
	box-shadow: 0 0 0 4px #fff inset;
}

.error {
	color: #F00;
	text-align: center;
	margin-top: 20px;
	font-size: 10pt;
}



/*The news view page*/

.back {
	padding-left: 20px;
	padding-top: 10px;
}

.comments {
	margin-top: 60px;
	width: 400px;
}

.comments-item:not(:first-child){
	margin-top: 30px;
}

.item-comm-date{
	text-decoration: underline;
}

.item-comm-content {
	position: relative;
	background: #F2F2F2;
	padding: 10px;
}

textarea {
	width: 400px;
}

.btn-post{
	text-align: right;
}

.btn-del-com{
	position: absolute;
	top: 0px;
	right: 0px;
}

.form-add-comm {
	margin-top: 40px;
	margin-bottom: 60px;
}

.nav-page {
	width: 95%;
	margin: 0 auto;
	margin-bottom: 30px;
}

.nav-page>div{
	display: inline-block;
	width: 49%;
}

.nav-page>div:last-child{
	text-align: right;
}


/*SELECT*/


select {
	font-size: 10pt;
}


.multiselect {
	font-size: 10pt;
	display: inline-block;
	margin-left: 20px;
    width: 150px;
}

.selectBox {
	position: relative;
}
.selectBox select {
    width: 100%;
    font-weight: bold;
}

.overSelect {
	font-size: 10pt;
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
}

#checkboxes {
    display: none;
    position: absolute;
    z-index: 100;
    border: 1px #dadada solid;
     background-color: #ffffff;
       width: 150px;

}

#checkboxes label {
    display: block;
}

#checkboxes label:hover {
    background-color: #1e90ff;
}